@page "/policias"

<PageTitle>POLICIAS</PageTitle>

<br>
<br>
<br>
<br>




@using System.Net.Http.Json
@using System.Net.Http
@using Policia.Data.Model
@inject HttpClient http

<div class="title">
    <div class="title_content">
        <h1>POLICIAS</h1>
    </div>
    <div class="title_btn">
        <a href="/policias/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
            &nbsp
            Agregar
           
        </a>

    </div>
    </div>



<p></p>

@if (policias == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th># PLACA</th>
                <th>RANGO</th>
                <th>ESTACION</th>
                <th>DIRECCION</th>
                <th>OPCIONES</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var policia in policias)
            {
                <tr>
                    <td>@policia.NombreCompleto</td>
                    <td>@policia.Edad</td>
                    <td>@policia.Numeroplaca</td>
                    <td>@policia.Tipoderango</td>
                    <td>@policia.Nombreestacion</td>
                    <td>@policia.Direccion</td>
                    <td>
                        <span class="icon">
                            <a href="/policias/update/@policia.Idpolicias" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        &nbsp;
                         <span class="icon">
                            <a href="/policias/delete/@policia.Idpolicias" class="oi oi-trash" title="Borrar"></a>
                        </span>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api ="Policias/GetAll";
    private IList<Policia>? policias;

    protected override async Task OnInitializedAsync()
    {
        policias = await http.GetFromJsonAsync<IList<Policia>>(api);
    }
}
