<AuthorizeView>
<Authorized Context="Role">
@page "/estaciones/add"
@page "/estaciones/update/{id:int}"

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container border">
<center>

<PageTitle>@(isUpdate ? $"Editar estacion con el[id: {estacion.idestacion}" : "Agregar Estacion")</PageTitle>


<h1>@(isUpdate ? $"Editar Estacion con el id: {estacion.idestacion}" : "Agregar Estacion")</h1></center>
</div>
<EditForm Model="@estacion">
    <form class="container border" @onsubmit="Save">
        <div class="mb-2">
        <label class="form-label" for="Nombre">Nombre</label>
        <InputText class="form-control" @bind-Value="@estacion.Nombreestacion" id="Nombreestacion" aria-required="true" required placeholder="Escriba el nombre de la estacion" maxlength="28" minlength="2"></InputText>
        </div>

        <div class="mb-2">
        <label class="form-label" for="Apellidos">Estado</label>
        <InputText class="form-control" @bind-Value="@estacion.Estado" id="Estado" placeholder="Estado" aria-required="true" required maxlength="28" minlength="2" ></InputText>
        </div>

        <div class="mb-2">
        <label class="form-label" for="Edad">Municipio</label>
        <InputText class="form-control" @bind-Value="@estacion.Municipio" id="Municipio" placeholder="Municipio" aria-required="true" required maxlength="28" minlength="2"></InputText>
        </div>

        <div class="mb-2">
        <label class="form-label" for="Colonia">Colonia</label>
        <InputText class="form-control" @bind-Value="@estacion.Colonia" id="Colonia" placeholder="Colonia" aria-required="true" required maxlength="28" minlength="2"></InputText>
        </div>

        <div class="mb-2">
        <label class="form-label" for="Calle">Calle</label>
        <InputText class="form-control" @bind-Value="@estacion.Calle" id="Calle" placeholder="Calle" aria-required="true" required maxlength="5" minlength="2"></InputText>
        </div>

        <div class="mb-2">
        <label class="form-label" for="Cruzamientos">Cruzamientos</label>
        <InputText class="form-control" @bind-Value="@estacion.Cruzamientos" id="Cruzamientos" placeholder="Cruzamientos" aria-required="true" required maxlength="5" minlength="2"></InputText>
        </div>
        <center>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/Estaciones" class="btn btn-danger">Cancelar</a></center>

    </form>

</EditForm>

@using System.Net.Http.Json
@using System.Net.Http
@using Estacion.Data.Model
@inject HttpClient http
@inject NavigationManager NavigationManager

@code
{
    [Parameter]
    public int id {get; set;}
    public bool isUpdate {get; set;} = false;
    bool loading =true;
    EstacionesCreateRequest estacion = new EstacionesCreateRequest();
    
    protected override async Task OnInitializedAsync(){
    
    isUpdate = id !=0;
    if (isUpdate)
    {
        var response = await http.GetFromJsonAsync<EstacionesCreateRequest>($"Estacion/GetById/{id}");
            if (response != null)
            {
                estacion = response;
            }
            
    }
    loading =false;
    }
    protected async Task Save(){

        HttpResponseMessage? response;
        if (isUpdate)
        {
            response = await http.PutAsJsonAsync<EstacionesCreateRequest>($"Estacion/Update/{id}", estacion!);
                //PoliciaCreateRequest? saved = response.Content.ReadFromJsonAsync<PoliciaCreateRequest>().Result;

        }else{
            response = await http.PostAsJsonAsync<EstacionesCreateRequest>("Estacion/Create", estacion);
                //PoliciaCreateRequest? saved = response.Content.ReadFromJsonAsync<PoliciaCreateRequest>().Result;
        }
        
        NavigationManager.NavigateTo("/Estaciones");
    }


}

 </Authorized>
       </AuthorizeView>